---
import Container from "./Container.astro";
---

<nav>
  <Container class:list={"py-4"}>
    <ul class="flex items-center gap-4">
      <li>
        <a class="underline" href="/">Home</a>
      </li>
    </ul>
  </Container>
</nav>
